:root {
  --text-color: #0f0f1b;
  --brand-red: #ff4016;
  --brand-green: #5db04f;
}
@media screen and (max-width: 767px) {
  .section-1 .wrapper,
  .common-section .container,
  footer .container {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-0 img {
    width: 100%;
    height: auto;
  }
  .contact-form input {
    min-width: auto;
  }
  footer {
    background-color: var(--brand-red);
  }
  .common-section .text-container {
    height: auto;
  }
  .img-container {
    text-align: center;
  }
  .contact-form button {
    border-color: #000;
    background-color: #000;
  }
  .contact-form {
    margin: 0 0 10px 0;
  }
}

@media screen and (max-width: 440px) {
}
