:root {
  --text-color: #0f0f1b;
  --brand-red: #ff4016;
  --brand-green: #5db04f;
}

/* Typography */
@font-face {
  font-family: "Evolventa";
  font-weight: 400;
  src: url(assets/fonts/Evolventa/Evolventa-Regular.otf);
}

@font-face {
  font-family: "EvolventaBold";
  font-weight: 700;
  src: url(assets/fonts/Evolventa/Evolventa-Bold.otf);
}

a {
  transition: 0.8s;
}

/* General Layout*/
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  font-family: Evolventa, Roboto, sans-serif;
  font-weight: 300;
  justify-content: space-between;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  font-family: "Evolventa", sans-serif;
}

h1 {
  font-size: 7rem;
  line-height: 8.1rem;
  color: var(--brand-red);
  font-family: "EvolventaBold";
  text-align: center;
}

h1 span {
  color: var(--text-color);
  font-family: "Evolventa";
  display: block;
}

h1 strong {
  color: var(--text-color);
  font-family: "EvolventaBold";
}

h2 {
  font-size: 5.2rem;
  line-height: 6.1rem;
}

h2 strong {
  font-family: "EvolventaBold";
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  position: sticky;
  margin-left: 20px;
  top: 10px;
}

.main {
  flex-grow: 1;
}

nav {
  margin-left: 0;
  position: relative;
  z-index: 1;
}

nav ul {
  list-style: none;
}

nav li {
  margin-bottom: 0;
}

nav a {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #c1c1c1;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: relative;
}

nav a:hover,
nav a.active {
  color: #e7e7e7;
}
nav a.active {
  font-family: "EvolventaBold";
}
nav a::before {
  content: "";
  width: 1px;
  height: 25px;
  background-color: #8695a4;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
nav a:hover::before,
nav a.active::before {
  background-color: var(--brand-red);
}

footer {
  display: none;
  background-color: #0f0f1b;
  color: #fff;
  flex-basis: 118px;
  position: sticky;
  /* display: flex; */
  bottom: 0;
  z-index: 4;
}

footer .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section {
  min-height: 100vh;
  /* position: fixed;
  width: 100vw;
  height: 100vh; */
}

body {
  background: transparent url(./assets/images/bg-first.svg) no-repeat top right;
}

/* Section #0 */
.section-0 {
  margin-top: 85px;
}

section {
  /* left: 50vw;
  transform: scale(1);
  transform-origin: 50% 50%; */

  min-height: 100vh;
}
.section-0 {
  overflow: hidden;
}
.section-0 img {
  height: calc(100% - 40px);
  margin: 0 20px;
}

/* Section #1 */
.section-1 .wrapper {
  display: flex;
  background-color: #fff;
  justify-content: center;
}

.section-1 img {
  height: auto;
}
.section-1 img .section-1 .video-container,
.section-1 .text-container {
  min-width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-1 .text-container {
  min-width: 705px;
  max-width: 705px;
}

.video-container {
  align-items: flex-end;
  display: flex;
}

.list-container {
  background: transparent url(./assets/images/bg-second.jpg) no-repeat center;
  background-size: cover;
  color: #e7e7e7;
  padding: 100px 50px;
}

.list-container ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.list-container ul li {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  flex-basis: 50%;
  max-width: 250px;
}

.list-container .icon {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  background-color: white;
  vertical-align: middle;
  margin-right: 20px;
}

/*Common section */
.common-section {
  /* position: fixed;
  width: 100vw;
  height: 100vh; */
}
.common-section .container {
  display: flex;
  align-items: center;
}
.common-section .text-container {
  padding-left: 128px;
  padding-right: 100px;
  position: relative;
  z-index: 3;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-section .right-wrapper {
}
.common-section h2 {
  font-size: 6rem;
  font-family: "EvolventaBold";
  margin-bottom: 0;
  margin-top: 0;
}
.common-section nav ul {
  width: 160px;
  display: flex;
  flex-direction: column;
}

.common-section .text-container ul {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.common-section .text-container ul li {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
  flex-basis: 80px;
}

.common-section ul li .text-wrapper {
  font-family: "EvolventaBold";
}

.common-section ul li .text-wrapper span {
  font-family: "Evolventa";
  display: block;
}

.common-section ul li .icon {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  background-color: white;
  vertical-align: middle;
  margin-right: 24px;
}

.common-section .img-container {
  position: relative;
  min-width: 505px;
  max-width: 505px;
  align-self: center;
}
.common-section .img-container img {
  width: 100%;
}

/* Dark section */
.dark-section {
  background-color: #151622;
  color: #fff;
}

/* Light section */
.light-section {
  color: #0f0f1b;
}

.light-section ul li .icon {
  background-color: black;
}
.common-section nav a {
  color: #8695a4;
}

.light-section nav a:hover,
.light-section nav a.active {
  color: #0f0f1b;
}

.dark-section nav a:hover,
.dark-section nav a.active {
  color: #e7e7e7;
}

/* Section #2 */
.section-2 {
  background-color: #151622;
  position: relative;
}
.section-2::after,
.section-3::after {
  filter: blur(10.5rem);
  content: " ";
  display: block;
  width: 400px;
  height: 400px;
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  top: 100px;
  left: 50%;
  z-index: 0;
  border-radius: 50%;
}
.section-2 .container {
  background-color: #151622;
}
.section-2 .text-container {
  background-color: #151622;
}
/* Section #3 */
.section-3 {
  background-color: #f3f6f7;
  position: relative;
}

.section-3 .text-container {
  background-color: rgba(255, 255, 255, 0.57);
}
.section-3::after {
  background-color: rgba(255, 0, 0, 0.2);
}
/* Section #4 */
.section-4 {
  background: #151622 url(./assets/images/bg-seven.jpg) no-repeat 60% center;
}
.section-4 .text-container {
  background: #151622;
}
/* Section #5 */
.section-5 {
  background: #f3f6f7;
}
.section-5 nav {
  /* background-color: #f3f6f7; */
  /* margin-left: 0; */
  /* padding-left: 40px; */
}

.fake-img {
  width: 505px;
  height: 500px;
}
.section-5 .img-container .example-work {
  position: absolute;
  bottom: 90px;
  right: 72px;
  font-size: 1.4rem;
  text-align: left;
}

/*Form*/
.contact-form {
  position: relative;
  margin: 32px;
}

.contact-form input {
  font-size: 1.6rem;
  color: var(--text-color);
  padding: 16px;
  border-radius: 2px 0 0 2px;
  border: 0 none;
  border: solid 1px #fff;
  min-width: 300px;
}
.contact-form input:focus,
.contact-form input:hover,
.contact-form input:hover:focus,
.contact-form input:focus-visible,
.contact-form input:focus-within {
  outline: 0 none;
  border: solid 1px var(--brand-red);
}

.contact-form button {
  background-color: var(--brand-red);
  font-weight: bold;
  color: #fff;
  border: solid 1px var(--brand-red);
  border-left: 0 none;
  font-size: 1.6rem;
  padding: 16px;
  cursor: pointer;
  margin-left: -5px;
  transition: 0.8s;
}

.contact-form button:focus {
  background-color: transparent;
}

span.validation {
  font-size: 1.6rem;
  padding-right: 5px;
  position: absolute;
  right: 85px;
  top: 15px;
}

span.validation.valid {
  background: transparent url(./assets/images/check-icon.png) no-repeat right
    center;
  color: var(--brand-green);
  padding-right: 20px;
}

span.validation.invalid {
  color: var(--brand-red);
}

span.validation.valid,
span.validation.invalid {
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  background-size: cover;
}

.page {
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  position: relative;
  display: inline-block;
  background-size: cover;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-size: cover;
  background-color: red;
}
.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  background-size: cover;
}

.page {
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  position: relative;
  display: inline-block;
  background-size: cover;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-size: cover;
}

.image {
  height: 60vh;
  width: 80%;
  left: 10%;
  position: absolute;
  transform-origin: center top;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  top: 5vh;
}

.container {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  direction: ltr;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
}

h1 {
  top: 67vh;
  position: absolute;
  width: 100%;
  font-weight: 100;
  text-align: center;
  color: white;
  font-weight: 800;
  font-size: 60px;
}

p {
  top: 70vh;
  position: absolute;
  width: 100%;
  font-weight: 100;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 28px;
  padding: 10vh;
  padding-left: 200px;
  padding-right: 200px;
  box-sizing: border-box;
}
